@model TUTSHOP.Models.Entities.Order

<div class="container mt-4">
    <h2>Chi tiết đơn hàng</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Thông tin đơn hàng</h4>
            <p>Mã đơn hàng: @Model.Id</p>
            <p>Người dùng: @Model.ApplicationUser.FullName</p>
            <p>Ngày đặt: @Model.OrderDate.ToString("dd/MM/yyyy")</p>
            <p>Tổng tiền: @string.Format("{0:N0}", @Model.TotalPrice) đ</p>
            <p>Địa chỉ giao hàng: @Model.ShippingAddress</p>
            <p>Ghi chú: @Model.Notes</p>
            <p>Phương thức thanh toán: @Model.PaymentMethod</p>
            <p>Trạng thái đơn hàng: @Model.OrderStatus</p>
        </div>
    </div>
    <h4>Chi tiết sản phẩm</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@string.Format("{0:N0}", @item.Price / @item.Quantity) đ</td> <!-- Giá đơn lẻ -->
                    <td>@item.Quantity</td>
                    <td>@string.Format("{0:N0}", @item.Price) đ</td> <!-- Giá tổng cộng -->
                </tr>
            }
        </tbody>
    </table>
</div>
